<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Digitalisera bilderna</h2>
                <hr class="light">
                <p class="text-faded">
                  Många av oss har nog många gamla minnen i form av fotografier.
                  Säkert många som också har dessa i fyllda album.
                  Tanken har säkert slagit att att scanna in dessa men tyvärr har inte tiden funnits
                  eller redskap för att kunna göra detta.
                  Hos oss hjälper vi till att scanna era foton och laddar upp dessa säkert på molnet
                  som bara du har tillgång till. På detta sätt så försvinner inte bilderna och man kan återskapa
                  ifall något händer med originalen.</p>
                <a href="#contact" class="page-scroll btn btn-default btn-xl">Kontakta oss så berättar vi mer</a>
            </div>
        </div>
    </div>
</section>
