<section class="pricing-table">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Prisexempel</h2>
        <p>Här är några pris exempel</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-5 col-lg-4">
        <div class="item">
          <div class="ribbon">Bästa val</div>
          <div class="heading">
            <h3><i class="far fa-images"></i> Enbart bilder</h3>
          </div>
          <p>Bilder i ett fodral eller som ligger lösa</p>
          <div class="features">
            <h4><span class="feature">Full Support</span> : <span class="value">No</span></h4>
            <h4><span class="feature">Duration</span> : <span class="value">30 Days</span></h4>
            <h4><span class="feature">Storage</span> : <span class="value">10GB</span></h4>
          </div>
          <div class="price">
            <h4>999 SEK</h4>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="item">
          <div class="heading">
            <h3><i class="fas fa-book-open"></i> Album</h3>
          </div>
          <p>Bilder i flera album</p>
          <div class="features">
            <h4><span class="feature">Full Support</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Duration</span> : <span class="value">60 Days</span></h4>
            <h4><span class="feature">Storage</span> : <span class="value">50GB</span></h4>
          </div>
          <div class="price">
            <h4>1999 SEK</h4>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-lg-4">
        <div class="item">
          <div class="heading">
            <h3><i class="far fa-handshake"></i> Behov</h3>
          </div>
          <p>Vi anpassar oss efter erat behov</p>
          <div class="features">
            <h4><span class="feature">Full Support</span> : <span class="value">Yes</span></h4>
            <h4><span class="feature">Duration</span> : <span class="value">120 Days</span></h4>
            <h4><span class="feature">Storage</span> : <span class="value">150GB</span></h4>
          </div>
          <div class="price">
            <h4>&nbsp;</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
