<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Hur fungerar det?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <a class="page-scroll" href="#contact">
                  <div class="service-box">
                      <i class="fas fa-4x fa-envelope wow bounceIn text-primary"></i>
                      <h3>Kontakta oss</h3>
                      <p class="text-muted">Vi diskuterar tillsammans hur vi löser detta på bästa sätt</p>
                  </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-handshake wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Skicka oss bilderna</h3>
                    <p class="text-muted">You can use this theme as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-print wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Bildscanning</h3>
                    <p class="text-muted">Vi hanterar bilderna varsamt under hela processen</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Laddar upp till molnet</h3>
                    <p class="text-muted">Instruktioner hur man kommer åt skickas till er</p>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-truck wow bounceIn text-primary" data-wow-delay=".3s"></i>
                  <h3>Leverans</h3>
                  <p class="text-muted">Originalen skickas tillbaka efter att fakturan är betald</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-smile wow bounceIn text-primary" data-wow-delay=".3s"></i>
                  <h3>Bilderna i säker förvar</h3>
                  <p class="text-muted">Originalen skickas tillbaka efter att fakturan är betald</p>
              </div>
          </div>
        </div>
    </div>
</section>
