---
import NavLink from './links/NavLink.astro';

const navItems = [
	{ name: 'Digitalisera', link: '#digitalisera' },
	{ name: 'Hur fungerar det?', link: '#hur-fungerar-det-?' },
	{ name: 'Prisexempel', link: '#prisexempel' },
	{ name: 'Kontakt', link: '#kontakta-oss', isButton: true },
];
---

<nav class='sticky top-0 z-50 bg-stone-50'>
	<div
		px='4 sm:0'
		class='max-w-7xl m-a'>
		<div class='flex h-20 items-center justify-between'>
			<a
				href='/'
				text='2xl stone-800'
				font='thin'>
				<p><span font='extrabold'>DIGI</span>BILDER</p>
				<p class='text-xs font-semibold tracking-normal md:tracking-wide'>
					MINNEN SOM VARAR
				</p>
			</a>

			<div class='md:hidden'>
				<input
					type='checkbox'
					id='hamburger-toggle'
					class='hidden peer'
				/>
				<label
					for='hamburger-toggle'
					class='cursor-pointer'>
					<div class='w-8 h-6 flex flex-col justify-between'>
						<span class='w-full h-0.75 bg-stone-800'></span>
						<span class='w-full h-0.75 bg-stone-800'></span>
						<span class='w-full h-0.75 bg-stone-800'></span>
					</div>
				</label>
				<label
					for='hamburger-toggle'
					class='fixed inset-0 bg-black bg-opacity-50 z-40 hidden peer-checked:block cursor-pointer'
				></label>
				<div
					id='mobile-menu'
					class='fixed top-0 right-0 w-1/2 h-full bg-white shadow-lg z-50 transform translate-x-full transition-transform duration-300 ease-in-out peer-checked:translate-x-0 overflow-y-auto'>
					<div class='p-6 pt-16'>
						<label
							for='hamburger-toggle'
							class='absolute top-4 right-4 cursor-pointer p-2'>
							<svg
								xmlns='http://www.w3.org/2000/svg'
								class='h-8 w-8'
								fill='none'
								viewBox='0 0 24 24'
								stroke='currentColor'>
								<path
									stroke-linecap='round'
									stroke-linejoin='round'
									stroke-width='2'
									d='M6 18L18 6M6 6l12 12'
								></path>
							</svg>
						</label>
						<div class='flex flex-col items-start gap-4'>
							{
								navItems.map((item) => (
									<NavLink
										name={item.name}
										link={item.link}
										class={`py-2 px-4 text-xl w-full ${
											item.isButton
												? 'text-white bg-stone-800 rounded-md py-3 px-6 hover:bg-gradient-to-t from-blue-700 to-blue-600 !hover:text-neutral-50 shadow-md text-center'
												: 'text-stone-800 hover:bg-stone-100'
										}`}
									/>
								))
							}
						</div>
					</div>
				</div>
			</div>

			<div
				flex
				space-x='4'
				class='!hidden !md:flex'>
				{
					navItems.map((item) => (
						<NavLink
							name={item.name}
							link={item.link}
							css={
								item.isButton
									? 'text-sm text-white bg-stone-800 rounded-md py-2 px-6 hover:bg-gradient-to-t from-blue-700 to-blue-600 !hover:text-neutral-50 shadow-md'
									: ''
							}
						/>
					))
				}
			</div>
		</div>
	</div>
</nav>
