<section class='w-full py-12'>
	<div class='container grid gap-6 md:gap-8 px-4 md:px-6 max-w-6xl mx-auto'>
		<div
			class='flex flex-col md:flex-row items-start md:items-center gap-4 md:gap-8'>
			<div class='grid gap-1'>
				<p class='text-gray-500 dark:text-gray-400 text-sm'>Utforska</p>
				<h1 class='text-3xl font-bold tracking-tight'>
					Köp, sälj eller boka provkörning
				</h1>
			</div>
		</div>
		<div class='grid md:grid-cols-2 lg:grid-cols-3 gap-8'>
			<div class='grid relative group'>
				<a
					class='absolute inset-0 z-10'
					href='#'
					><span class='sr-only'>View</span></a
				>
				<img
					src='https://images.pexels.com/photos/59512/pexels-photo-59512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
					alt='Basketball'
					width='450'
					height='600'
					class='object-cover w-full aspect-[3/4] group-hover:opacity-70 transition-opacity absolute -z-1'
				/>
				<div class=''>
					<h3 class='font-semibold'>Basketball</h3>
					<p class='text-sm leading-none'>Styles made for your game.</p>
					<p class='font-semibold underline underline-offset-4'>Shop</p>
				</div>
			</div>

			<div class='grid gap-4 relative group'>
				<a
					class='absolute inset-0 z-10'
					href='#'
					><span class='sr-only'>View</span></a
				><img
					src='https://images.pexels.com/photos/59512/pexels-photo-59512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
					alt='Running'
					width='450'
					height='600'
					class='rounded-lg object-cover w-full aspect-[3/4] group-hover:opacity-50 transition-opacity'
				/><div class='grid gap-1'>
					<h3 class='font-semibold'>Running</h3><p class='text-sm leading-none'>
						Everything you need for every mile.
					</p>
				</div><p class='font-semibold underline underline-offset-4'>Shop</p>
			</div><div class='grid gap-4 relative group'>
				<a
					class='absolute inset-0 z-10'
					href='#'
					><span class='sr-only'>View</span></a
				><img
					src='https://images.pexels.com/photos/59512/pexels-photo-59512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
					alt='Football'
					width='450'
					height='600'
					class='rounded-lg object-cover w-full aspect-[3/4] group-hover:opacity-50 transition-opacity'
				/><div class='grid gap-1'>
					<h3 class='font-semibold'>Football</h3><p
						class='text-sm leading-none'>
						Command the field in game-ready gear.
					</p>
				</div><p class='font-semibold underline underline-offset-4'>Shop</p>
			</div>
		</div>
	</div>
</section>
